# Python cache
__pycache__/
*.py[cod]

# Trained models
models/*.pkl

# Generated figures
reports/figures/*.png

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db